@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 100%;
  margin: auto;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  height: var(--tamanho-header);
  border-bottom: 20px solid #C9A66B;
}

.header .container {
    display: flex;   
    justify-content: space-around;
    align-items: center;
    background-color: #1C1C1C;
    height: 100px;
    border-bottom: 3px solid #C9A66B;
}

.header .container .titulo {
    color: #C9A66B;
    font-size: 30px;
    letter-spacing: 9px;
}


.header .container .navbar{
    display: flex;
    gap: 3rem;
    list-style: none;
}

.header .container .navbar li a,
.header .container .navbar li{
    color: #EDEDED;
    text-decoration: none;
    transition: 0.3s;
    font-size: 16px;
}


.header .container .navbar li a:hover{
    color: #C9A66B;
}


.header .container .navbar .agora,
.banner .container p span{
    color: #C9A66B;
    font-weight: bold;
}

.banner{
    background-image: url('https://img.freepik.com/fotos-gratis/chef-derramando-molho-especial-em-costelas-de-porco-na-cozinha_181624-61946.jpg?semt=ais_hybrid&w=740&q=80');
    filter: grayscale(0%);
    background-size: cover;
    background-position: center;
    height: 500px;
}


.banner .container{
    height: 500px;
    width: 30%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.banner .container p{
    color: #F5F5F5;
    font-size: 42px;
    width: 350px;
    text-align: left;
    line-height: 1.5;
    font-weight: 400;
    
}



.sessao {
    padding: 80px 0;
    text-align: center;
    transition: 0.5s;
    background-color: #F4F1EC;
    color: #1C1C1C;
}
.sessao.dark {
    background-color: #1C1C1C;
    color: #EDEDED;
}
 .sessao.info {
    padding: 80px 0;
    text-align: center;
    background-color: #F4F1EC;
}

.sessao.info.dark {
    background-color: #1C1C1C;
    color: #EDEDED;
}

.sessao.info .container {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    text-align: center;    
}

/* TÍTULO */
.titulo-secao {
    font-size: 32px;
    margin-bottom: 5px;
    color: #C9A66B;
}

/* SUBTÍTULO */
.subtitulo {
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 30px;
    color: #575650;
}

/* TEXTO */
.texto {
    max-width: 800px;
    margin: auto;
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
    hyphens: auto;

}
.sessao p span{
  font-weight: bold;
  font-style: oblique;
  color: #b89355;
  margin-left: 135px;
}
.citacao{
  color: #1C1C1C;
  font-size: 13px;
  font-style: italic;
  margin-right:0 ;
  align-items: center;
}

.social .container{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F1EC; 
}

.social .container .boxes {
    width: 85%;
    display: flex;
    justify-content: space-around;
}

.social .container .boxes .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 250px;
}

.social .container .boxes .box h4{
    font-size: 1.6rem;
    color: #1C1C1C;
    margin-bottom: 4px;
}


.social .container .boxes .box p{
    font-size: 1.1rem;
    text-align: center;
    color: #555;
}


.social .container .boxes .box img{
    width: 200px;
    transition: 0.3s;
    filter: grayscale(75%);
    border-radius: 20px; 
    transition: 0.3s;
}
.social .container .boxes .box img:hover {
    filter: grayscale(0%) brightness(0.8);
    transform: scale(1.05);
}
.footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #1C1C1C;
    color: #EDEDED;
    font-size: 0.95rem;
}

.footer .container h4 {
    margin: 5px 0;
}

.footer .container .version{
    margin-top: px;
    color: #C9A66B;
}

.login {
  min-height: calc(100vh - var(--tamanho-header) - var(--tamanho-footer));
  display: flex;
  background-image: url('./../assets/imgs/chef1.webp');
  background-size: cover;

}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 20%;
  background-color: #1C1C1C;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #C9A66B;
  flex-direction: column;
  height: fit-content;
  padding: 20px ;
}

.card h2 {
  margin: 0;
  font-size: 26px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 10px;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #C9A66B;
  text-align: center;
  border-radius: 10px;
  margin: 0;
  margin-top: 10px;
}

.formulario select {
  border: 2px solid #C9A66B;
  background-color: white;
  color: #1C1C1C;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #C9A66B;
  width: 120px;
  height: 40px;
  align-self: center;
  margin-top: 20px;
  transition: 0.3s;
}
.botao:hover {
    background-color: #b89355;
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(201, 166, 107, 0.4);
}
.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* SIMULADOR */

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll; 
  height: var(--tamanho-simulador);
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0%   {transform: rotate(25deg)}
  25%  {transform: rotate(-25deg)}
  50%  {transform: rotate(25deg)}
  75%  {transform: rotate(-25deg)}
  100% {transform: rotate(25deg)}
}